<div class="flex flex-col items-center justify-center">
  <div class="flex flex-col bg-white shadow-md px-10 py-8 m-4 rounded-3xl w-2/4">
    <div class="font-medium self-center text-xl sm:text-3xl text-gray-800">
      <%= t('.title') %>
    </div>
    <div class="mt-5">
      <%= form_with model: @user, url: profile_path, local: true do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="flex flex-col mb-5">
          <%= f.label User.human_attribute_name(:avatar) %>
          <%= f.file_field :avatar, id: 'select-image', accept: 'image/*' %>
        </div>
        <div class="avatar self-center mt-4 mb-4">
          <div class="w-24 mask mask-squircle">
            <%= image_tag f.object.decorate.avatar, id: 'preview' %>
          </div>
        </div>
        <div class="flex flex-col mb-5">
          <%= f.label User.human_attribute_name(:name) %>
          <%= f.text_field :name, class: "input input-bordered input-sm w-full max-w-xs" %>
        </div>
        <div class="flex flex-col mb-5">
          <%= f.label User.human_attribute_name(:email) %>
          <%= f.text_field :email, class: "input input-bordered input-sm w-full max-w-xs" %>
        </div>
        <div class="flex flex-col mb-5">
          <%= f.label User.human_attribute_name(:introduction) %>
          <%= f.text_area :introduction, class: "textarea textarea-bordered", rows: "5" %>
        </div>
        <div class="flex justify-center items-center mb-5">
          <%= f.submit t('defaults.update'), class: "btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
