<div class="flex flex-col items-center justify-center">
  <div class="flex flex-col bg-white shadow-md px-10 py-8 m-4 rounded-3xl w-96">
    <div class="font-medium self-center text-xl sm:text-3xl text-gray-800 mb-4">
      <%= t('.title') %>
    </div>
    <div class="avatar self-center mb-4">
      <div class="w-24 mask mask-squircle">
        <%= image_tag 'sample.jpg' %>
      </div>
    </div>
    <div>
      <div class="text-center">
        <div class="text-lg font-extrabold mb-4">
          ユーザー名
        </div> 
        <div class="text-base-content/70 my-3 text-sm">
          自己紹介文
        </div>
      </div>
    </div>
    <div class="flex justify-between mt-4">
      <%= link_to '猫を登録する', '#', class: "btn" %>
      <%= link_to '編集する', edit_profile_path, class: "btn" %>
    </div>
    <div class="flex justify-center mt-4">
      <%= link_to '自分のプロフィールを見る', '#', class: "link link-hover" %>
    </div>
  </div>
</div>