<% content_for(:title, t('.title')) %>
<div class="container mx-auto px-5 py-10">
  <div class="flex flex-col items-center justify-center">
    <div class="flex flex-col bg-white shadow-md px-10 py-8 rounded-3xl w-96">
      <div class="font-medium self-center text-xl sm:text-3xl text-gray-800">
        <%= t('.title') %>
      </div>
      <div class="mt-5">
        <%= form_with model: @user, url: password_reset_path(@token), local: true do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <div class="flex flex-col mb-5">
            <%= f.label :email %>
            <%= f.text_field :email, class: "input input-bordered input-sm w-full max-w-xs" %>
          </div>
          <div class="flex flex-col mb-5">
            <%= f.label :password %>
            <%= f.password_field :password, class: "input input-bordered input-sm w-full max-w-xs" %>
          </div>
          <div class="flex flex-col mb-5">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: "input input-bordered input-sm w-full max-w-xs" %>
          </div>
          <div class="flex justify-center items-center mb-2">
            <%= f.submit t('defaults.submit'), class: "btn" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>