<% content_for(:title, t('.title')) %>
<div class="container mx-auto p-6 font-mono relative">
  <%= render 'search', search_review: @search_review %>
  <div class="w-full mb-8 overflow-hidden rounded-lg shadow-lg">
    <div class="w-full overflow-x-auto">
      <table class="w-full">
        <thead>
          <tr class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-gray-600">
            <th class="px-4 py-3"><%= Review.human_attribute_name(:id) %></th>
            <th class="px-4 py-3"><%= Review.human_attribute_name(:title) %></th>
            <th class="px-4 py-3"><%= Review.human_attribute_name(:user) %></th>
            <th class="px-4 py-3"><%= Review.human_attribute_name(:created_at) %></th>
            <th class="px-4 py-3"></th>
          </tr>
        </thead>
        <tbody class="bg-white">
          <%= render partial: 'review', collection: @reviews %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="absolute flex justify-center inset-x-0 bottom-0">
    <%= paginate @reviews %>
  </div>
</div>
