<div class="container mx-auto px-5 py-10">
  <div class="flex flex-col items-center justify-center">
    <div class="flex flex-col bg-white shadow-md px-10 py-8 rounded-3xl w-96">
      <div class="font-medium self-center text-xl sm:text-3xl text-gray-800 mb-4">
        <%= t('.title') %>
      </div>
      <div class="avatar self-center mb-4">
        <div class="w-24 mask mask-squircle">
          <%= image_tag @user.decorate.avatar %>
        </div>
      </div>
      <div>
        <div class="text-center">
          <div class="text-lg font-extrabold mb-4">
            <%= @user.name %>
          </div>
          <div class="text-base-content/70 my-3 text-sm">
            <%= @user.decorate.has_introduction? %>
          </div>
        </div>
      </div>
      <% if @user.cat %>
        <div class="self-center">
          <div class="dropdown dropdown-hover dropdown-left">
            <div class="avatar mb-4">
              <div class="w-24 mask mask-squircle">
                <%= image_tag @user.cat.decorate.avatar %>
              </div>
            </div>
            <div tabindex="0" class="mt-3 card card-compact dropdown-content w-52 bg-base-100 shadow">
              <div class="card-body">
                <div class="text-center">
                  <div class="text-lg font-extrabold mb-4">
                    <%= @user.cat.name %>
                  </div>
                  <div>
                    <%= @user.cat.sex_i18n %></br>
                    <%= @user.cat.decorate.character %></br>
                    <%= @user.cat.decorate.birth_day %></br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
