<footer class="footer footer-center p-4 bg-base-200 text-primary-content">
  <div>
    <%= image_tag 'top/logo_s.png', class: "w-16 sm:w-28" %>
    <div class="grid grid-flow-col gap-4">
      <%= link_to '利用規約', kiyaku_path, class: "link link-hover" %>
      <%= link_to 'プライバシーポリシー', privacy_policy_path, class: "link link-hover" %>
      <%= link_to 'お問合せ', 'https://forms.gle/xMmE2TZDJYbiBJrm9', class: "link link-hover", target: '_blank', rel: 'noopener noreferrer' %>
    </div>
    <p class="font-bold">Copyright © 2022 - All right reserved by catoy</p>
  </div>
  <div>
    <div class="grid grid-flow-col gap-4">
      <%= link_to 'https://twitter.com/POMZOsan', target: '_blank', rel: 'noopener noreferrer' do %>
        <i class="fab fa-twitter mr-2 fa-2x"></i>
      <% end %>
      <%= link_to 'https://github.com/POMZOsan/catoy', target: '_blank', rel: 'noopener noreferrer' do %>
        <i class="fab fa-github fa-2x"></i>
      <% end %>
    </div>
  </div>
</footer>
