<div class="mobile-menu">
  <div class="navbar bg-base-200">
    <div class="navbar-start">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost btn-circle">
          <i class="fas fa-bars fa-lg"></i>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52 p-2">
          <li>
            <%= link_to root_path do %>
              <i class="fas fa-home"></i>
              <%= t('homes.top.title') %>
            <% end %>
          </li>
          <li>
            <%= link_to reviews_path do %>
              <i class="fas fa-comments"></i>
              <%= t('reviews.index.mobile') %>
            <% end %>
          </li>
          <li>
            <%= link_to rankings_path do %>
              <i class="fas fa-crown"></i>
              <%= t('rankings.index.mobile') %>
            <% end %>
          </li>
          <li>
            <%= link_to login_path do %>
              <i class="fas fa-sign-in-alt"></i>
              <%= t('user_sessions.new.title') %>
            <% end %>
          </li>
          <li>
            <%= link_to sign_up_path do %>
              <i class="fas fa-user-plus"></i>
              <%= t('users.new.title') %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <div class="navbar-end">
      <%= render 'shared/mobile/mobile_search', search_review: @search_review %>
    </div>
  </div>
</div>
