<div class="mobile-menu">
  <div class="navbar bg-base-200">
    <div class="navbar-start">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost btn-circle">
          <i class="fas fa-bars fa-lg"></i>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 py-2 shadow bg-base-100 rounded-box w-48 p-2">
          <li>
            <%= link_to root_path do %>
              <span><i class="fas fa-home"></i></span>
              <span><%= t('homes.top.title') %></span>
            <% end %>
          </li>
          <li>
            <%= link_to profile_path do %>
              <span>
                <%= image_tag current_user.decorate.avatar, class: "mask mask-squircle w-7", id: "avatar" %>
              </span>
              <%= t('profiles.show.title') %>
            <% end %>
          </li>
          <% if current_user.cat %>
            <li>
              <%= link_to profile_mycat_path do %>
                <span>
                  <%= image_tag current_user.cat.decorate.avatar, class: "mask mask-squircle w-7" %>
                </span>
                <%= t('profiles.mycats.title') %>
              <% end %>
            </li>
          <% end %>
          <li tabindex="0">
            <span>
              <i class="fas fa-comments mr-1"></i>
              <%= Review.model_name.human %>
            </span>
            <ul class="rounded-box p-2 bg-base-100 shadow">
              <li>
                <%= link_to t('reviews.index.title'), reviews_path %>
              </li>
              <li>
                <%= link_to t('reviews.new.title'), new_review_path %>
              </li>
            </ul>
          </li>
          <li>
            <%= link_to favourites_reviews_path do %>
              <span><i class="fas fa-heart" style="color: black;"></i></span>
              <%= t('reviews.favourites.title') %>
            <% end %>
          </li>
          <li>
            <%= link_to ranking_path do %>
              <span><i class="fas fa-crown"></i></span>
              <span><%= t('rankings.index.mobile') %></span>
            <% end %>
          </li>
          <li>
            <%= link_to logout_path, method: :delete do %>
              <span><i class="fas fa-sign-out-alt"></i></span>
              <span><%= t('defaults.logout') %></span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <div class="navbar-end">
      <%= render 'shared/mobile/mobile_search', search_review: @search_review %>
    </div>
  </div>
</div>
