<% content_for(:title) %>
<div class="top-wrapper">
  <div class="top-inner-text">
    <p>猫ちゃんのお気に入りを見つけよう</p>
  </div>
  <%= image_tag 'top_logo.png', class: 'top-logo' %>
</div>
<div class="hero h-full bg-base-100 sm:pt-7">
  <div class="hero-content text-center">
    <div class="max-w-max">
      <div class="flex justify-between sm:hidden px-3 pt-3 pb-5">
        <%= link_to ranking_path, class: 'btn btn-outline btn-sm' do %>
          <span><i class="fas fa-crown"></i></span>
          <span><%= t('rankings.index.mobile') %></span>
        <% end %>
        <%= link_to reviews_path, class: 'btn btn-outline btn-sm' do %>
          <i class="fas fa-comments mr-1"></i>
          <%= t('reviews.index.mobile') %>
        <% end %>
      </div>
      <h1 class="text-xl sm:text-5xl font-bold">What's catoy?</h1>
      <p class="pt-3 sm:pt-10">catoyは猫ちゃんが気に入るおもちゃを見つけられない飼い主さんに</p>
      <p  class="sm:pt-3">猫のおもちゃのレビューを共有し</p>
      <p class="sm:py-3">レビューから猫ちゃんの性格に合うおもちゃを見つけられるサービスです</p>
      <div class="flex flex-row justify-center items-center">
        <div><%= image_tag 'standing_cat.png', class: "w-28 sm:w-40" %></div>
        <div><%= image_tag 'question_woman.png', class: "w-40 sm:w-72" %></div>
      </div>
    </div>
  </div>
</div>
<div class="hero h-full bg-base-100 sm:pt-7">
  <div class="hero-content text-center">
    <div class="max-w-max">
      <h1 class="text-xl sm:text-5xl font-bold">Happy?</h1>
      <p class="pt-3 sm:pt-10">猫ちゃんはそのおもちゃに満足していますか？</p>
      <p class="sm:py-3">もし満足していないならcatoyで猫ちゃんが気に入るおもちゃを探してみましょう!</p>
      <div class="flex justify-center">
        <div><%= image_tag 'playing_cat.png', class: "w-40 sm:w-72" %></div>
      </div>
    </div>
  </div>
</div>
<div class="hero h-full bg-base-100 sm:pt-7">
  <div class="hero-content text-center">
    <div class="max-w-max">
      <h1 class="text-xl sm:text-5xl font-bold">Shopping!</h1>
      <p class="pt-3 sm:pt-10">気になるレビューがありましたか？</p>
      <p class="py-3 sm:py-5">catoyではレビューから商品サイトでおもちゃを買うことができます</p>
      <div class="flex justify-center">
        <div><%= image_tag 'online_shopping.png', class: "w-40 sm:w-72" %></div>
      </div>
    </div>
  </div>
</div>
<div class="hero h-full bg-base-100 sm:pt-5">
  <div class="hero-content text-center">
    <div class="max-w-max">
      <h1 class="text-xl sm:text-5xl font-bold">Review!</h1>
      <p class="pt-3 sm:pt-10">おもちゃのレビューを投稿してみましょう！</p>
      <p class="sm:pt-3">あなたのレビューが他の飼い主さんを助けるかもしれません！</p>
      <div class="flex flex-row justify-center items-start">
        <div><%= image_tag 'sharing.png', class: "w-28 sm:w-40" %></div>
        <div><%= image_tag 'using_pc.png', class: "w-40 sm:w-72" %></div>
        <div class="self-end"><%= image_tag 'walking_cat.png', class: "w-20 sm:w-40" %></div>
      </div>
      <div class="py-5">
        <%= link_to sign_up_path, class: 'btn btn-sm sm:hidden' do %>
          <i class="fas fa-paw mr-2"></i>
          <%= t('users.new.title') %>
          <i class="fas fa-paw ml-2"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
