<% content_for(:title, @review.title) %>

<%= stylesheet_pack_tag 'main' %>
<%= javascript_pack_tag 'main' %>

<div class="container px-5 py-10 mx-auto">
  <div class="lg:w-4/5 mx-auto flex flex-wrap bg-white rounded-2xl" id="review-<%= @review.id %>">
    <%= image_tag @review.decorate.image, class: "sm:w-1/2 w-full h-auto object-cover object-center rounded-2xl" %>
    <div class="sm:w-1/2 w-full pl-5 sm:pl-10 sm:py-6 mt-6 sm:mt-0">
      <div class="flex items-center space-x-2">
        <div class="w-10 sm:w-16 mask mask-squircle">
          <%= link_to user_path(@review.user.id) do %>
            <%= image_tag @review.user.decorate.avatar %>
          <% end %>
        </div>
        <div class="text-sm font-medium"><%= @review.user.name %></div>
        <% if @review.user.cat.present? %>
          <div class="ml-6"><span class="<%= cat_type(@review.user.cat.character) %> ml-6 mt-3"><%= @review.user.cat.decorate.character %></span></div>
        <% end %>
      </div>
      <h1 class="text-3xl title-font font-extrabold mt-3 mb-1"><%= @review.title %></h1>
      <div class="flex mb-4">
        <span class="flex flex-col sm:flex-row sm:items-center">
          <span>
            <span class="star-rating">
              <span class="star-rating-front" style="width: <%= rating_parcent(@review.rate) %>%">★★★★★</span>
              <span class="star-rating-back">★★★★★</span>
            </span>
            <span class="ml-3 mt-3"><%= @review.decorate.star %></span>
          <% if logged_in? %>
            <% unless current_user.mine?(@review) %>
              <span class="sm:ml-6 sm:mt-3">
                <%= render 'favourite_button', review: @review %>
              </span>
              </span>
              <span>
                <%= link_to twitter_share(@review, request.url), class: "btn btn-outline btn-xs sm:btn-sms ml-0 sm:ml-6 mt-2 sm:mt-0", target: '_blank', rel: 'noopener noreferrer' do %>
                  <i class="fab fa-twitter sm:mr-1"></i><%= t('defaults.twitter_share') %>
                <% end %>
              </span>
            <% else %>
              <%= render 'crud_menu', review: @review %>
              </span>
              <span>
              <%= link_to twitter_share(@review, request.url), class: "btn btn-outline btn-xs sm:btn-sm ml-0 sm:ml-6 mt-2 sm:mt-0", target: '_blank', rel: 'noopener noreferrer' do %>
                <i class="fab fa-twitter sm:mr-1"></i><%= t('defaults.twitter_share') %>
              <% end %>
              </span>
            <% end %>
          <% end %>
        </span>
      </div>
      <div class="mb-3">
        <i class="far fa-calendar-alt"></i>
        <%= l @review.created_at, format: :long %>
      </div>
      <div class="px-3 sm:px-0">
        <p>
          <%= simple_format(@review.content) %>
        </p>
      </div>
      <div class="flex mt-6 pb-5 pt-3 border-t-2 border-gray-800 mb-5">
        <div class="flex">
          <% unless Rails.env.test? %>
            <%= image_tag @review.product.image, class: "w-20 rounded-xl"  if @review.review_block.present? %>
          <% end %>
        </div>
        <div class="flex flex-col ml-3">
          <span>
            <i class="fas fa-store"></i>
            <%= @review.decorate.shop %>
          </span>
          <span>
            <% if @review.review_block.present? %>
              <%= truncate(@review.product.name, length: 25) %>
            <% else %>
              <%= t('.no_product') %>
            <% end %>
          </span>
          <span>
            <% if @review.review_block.present? %>
              <%= link_to t('.check_site'), @review.product.url, target: :_blank, rel: "noopener noreferrer", class: "mt-3 btn btn-sm sm:btn" %>
            <% else %>
              <button class= "mt-3 btn" disabled="disabled"><%= t('.check_site') %></button>
            <% end %>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div id="main">
    <% if logged_in? %>
      <Comment :review-id="<%= @review.id %>" :current-user-id="<%= current_user.id %>" />
    <% else %>
      <Comment :review-id="<%= @review.id %>" />
    <% end %>
  </div>
</div>
