<div class="h-screen hidden lg:block my-4 ml-4 shadow-lg relative w-80 rounded-2xl">
  <div class="bg-white h-full rounded-2xl dark:bg-gray-700">
    <div class="flex items-center justify-center pt-6">
      <%= image_tag 'logo_s.png', class: "w-16" %>
    </div>
    <nav class="mt-6">
      <div>
        <%= link_to admin_root_path, class: "w-full font-thin uppercase text-gray-500 dark:text-gray-200 flex items-center p-4 my-2 transition-colors duration-200 justify-start hover:text-green-500" do %>
          <span class="text-left">
            <i class="fas fa-paw"></i>
          </span>
          <span class="mx-4 text-sm font-normal">
            Dashboards
          </span>
        <% end %>
        <%= link_to admin_reviews_path, class: "w-full font-thin uppercase text-gray-500 dark:text-gray-200 flex items-center p-4 my-2 transition-colors duration-200 justify-start hover:text-green-500" do %>
          <span class="text-left">
            <i class="fas fa-star"></i>
          </span>
          <span class="mx-4 text-sm font-normal">
            Reviews
          </span>
        <% end %>
        <%= link_to '#', class: "w-full font-thin uppercase text-gray-500 dark:text-gray-200 flex items-center p-4 my-2 transition-colors duration-200 justify-start hover:text-green-500" do %>
          <span class="text-left">
            <i class="fas fa-user"></i>
          </span>
          <span class="mx-4 text-sm font-normal">
            Users
          </span>
        <% end %>
        <%= link_to '#', class: "w-full font-thin uppercase text-gray-500 dark:text-gray-200 flex items-center p-4 my-2 transition-colors duration-200 justify-start hover:text-green-500" do %>
          <span class="text-left">
            <i class="fas fa-cat"></i>
          </span>
          <span class="mx-4 text-sm font-normal">
            Toys
          </span>
        <% end %>
        <%= link_to '#', class: "w-full font-thin uppercase text-gray-500 dark:text-gray-200 flex items-center p-4 my-2 transition-colors duration-200 justify-start hover:text-green-500" do %>
          <span class="text-left">
            <i class="fas fa-cog"></i>
          </span>
          <span class="mx-4 text-sm font-normal">
            Settings
          </span>
        <% end %>
      </div>
    </nav>
  </div>
</div>
